@font-face {
  font-family: sans-book;
  src: url(../../src/OfficinaSansITCPro-Book.ttf);
  font-display: swap;
}

html, body {
  margin: 0;
  font-family: sans-book;
}

.price {
  font-weight: bold;
  font-size: 1.8em;
}

.grayText {
  color: gray;
  font-size: 1.1em;
}

.borderLeft {
  position: absolute;
  background-color: #cfcfcf;
  height: 70%;
  width: 1px;
  left: 0;
  top: 20%;
}

.hollowButton {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #1fbde4;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 2em;
}

.hollowButton .offerLink {
  text-decoration: none;
  padding: 0.7em 1em 0.7em 1em;
}

.filledButton {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  background-color: #1fbde4;
  cursor: pointer;
  margin-right: 2em;
  color: white;
}

.filledButton img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.filledButton .offerLink {
  text-decoration: none;
  padding: 0.7em 1em 0.7em 1em;
}

.aPicInfo {
  position: absolute;
  margin: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  top: 0;
  left: 0;
}

.aPicInfo .aPicInfoTop {
  padding: 0.3em;
  background-color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.aPicInfo .aPicInfoBot {
  color: white;
  margin: 60% 0 0 6%;
  font-size: 0.9em;
}

.aPicInfo .aPicInfoBot h1 {
  margin-top: 0.3em;
}

.aPicInfo .aPicInfoBot p {
  margin-bottom: 0;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 1em;
  height: 4em;
  border: solid black 1px;
  z-index: 100;
  background-color: white;
}

header #headerContainer {
  height: 100%;
  max-width: 80em;
  margin: auto;
}

header #headerContainer #headerLogo {
  float: left;
  height: inherit;
}

header #headerContainer #headerLogo img {
  height: inherit;
}

header #headerContainer #headerCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
  float: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #headerContainer #headerCont #headerNav {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

header #headerContainer #headerCont #headerLang {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#bannerContainer {
  position: relative;
  max-width: 100%;
  margin: 4em 0 5em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#bannerContainer img {
  max-width: 100%;
}

#bannerContainer .content {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  width: 80em;
  margin-top: 8%;
}

#bannerContainer .content .bannerText {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 18em;
  color: white;
}

#bannerContainer .content .bannerText h1 {
  font-size: 3em;
  margin-top: 0;
}

#bannerContainer .content .secondaryBannerCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 62em;
}

#bannerContainer .content .secondaryBannerCont .bannerSecondary {
  color: white;
  width: 10em;
  margin: 0 0 0 2.5em;
}

.productsContainer {
  width: 100%;
  margin-bottom: 5em;
}

.productsContainer .prodChonkCont {
  max-width: 80em;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.productsContainer .prodChonkCont .productChonk {
  width: 39em;
  margin: 0 0 2em 0;
  position: relative;
}

.productsContainer .prodChonkCont .productChonk .chonkInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.productsContainer .prodChonkCont .productChonk .chonkInfo .infoRight {
  width: 25%;
  padding: 1em 1em 0 1em;
  position: relative;
}

.productsContainer .prodChonkCont .productChonk .chonkImg {
  width: 100%;
}

.productsContainer .prodChonkCont .productChonk .chonkImg img {
  width: 100%;
}

.productsContainer .prodChonkCont .productSmol {
  width: 25.3em;
  margin: 0 0 2em 0;
  position: relative;
}

.productsContainer .prodChonkCont .productSmol .chonkInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.productsContainer .prodChonkCont .productSmol .chonkInfo .infoRight {
  width: 14em;
  padding: 1em 1em 0 1em;
  position: relative;
}

.productsContainer .prodChonkCont .productSmol .smolImg {
  width: 100%;
}

.productsContainer .prodChonkCont .productSmol .smolImg img {
  width: 100%;
}

.graySection {
  width: 100%;
  margin: 0 0 5em 0;
}

.graySection .grayBg {
  background-color: whitesmoke;
  max-width: 96em;
  margin: auto;
}

.graySection .grayBg .grayCont {
  max-width: 80em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
}

.graySection .grayBg .grayCont .grayLeft {
  max-width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.graySection .grayBg .grayCont .grayLeft .buttonHolder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1em 0 0 0;
}

.graySection .grayBg .grayCont .grayLeft .buttonHolder .cameraButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.graySection .grayBg .grayCont .grayLeft .buttonHolder .cameraButton a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin: 0 0 0 0.5em;
}

.graySection .grayBg .grayCont .grayRight {
  max-width: 50%;
}

.graySection .grayBg .grayCont .grayRight .grayImg1 {
  max-width: 120%;
  max-height: 120%;
  position: relative;
  top: -4em;
  left: 1em;
}

.graySection .grayBg .grayCont .grayRight .grayImg2 {
  max-width: 120%;
  max-height: 120%;
  position: relative;
  top: 0;
  left: 1em;
}

.achievedProjectsContainer {
  width: 100%;
  margin-bottom: 5em;
}

.achievedProjectsContainer .achievedCont {
  max-width: 80em;
  margin: auto;
}

.achievedProjectsContainer .achievedCont .lineLeftRight {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.achievedProjectsContainer .achievedCont .lineLeftRight .lineRight span {
  font-weight: bold;
  font-size: 1.1em;
}

.achievedProjectsContainer .achievedCont .achievedPics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.achievedProjectsContainer .achievedCont .achievedPics .aPic {
  width: 18em;
  margin: 0 0 1em 0;
  position: relative;
}

.achievedProjectsContainer .achievedCont .achievedPics .aPic .aPicInfo {
  position: absolute;
  margin: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  top: 0;
  left: 0;
}

.achievedProjectsContainer .achievedCont .achievedPics .aPic .aPicInfo .aPicInfoTop {
  padding: 0.3em;
  background-color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.achievedProjectsContainer .achievedCont .achievedPics .aPic .aPicInfo .aPicInfoBot {
  color: white;
  margin: 60% 0 0 6%;
  font-size: 0.9em;
}

.achievedProjectsContainer .achievedCont .achievedPics .aPic .aPicInfo .aPicInfoBot h1 {
  margin-top: 0.3em;
}

.achievedProjectsContainer .achievedCont .achievedPics .aPic .aPicInfo .aPicInfoBot p {
  margin-bottom: 0;
}

.achievedProjectsContainer .achievedCont .achievedPics .aPic img {
  width: 100%;
}

.aboutContainer {
  width: 100%;
}

.aboutContainer .aboutContent {
  max-width: 80em;
  border-top: 2px solid black;
  margin: auto;
  padding-top: 6em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aboutContainer .aboutLeft {
  width: 40%;
  padding: 0 10% 0 0;
}

.aboutContainer .aboutLeft h1 {
  margin: 0 0 1em 0;
  font-size: 2.2em;
}

.aboutContainer .aboutRight {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aboutContainer .aboutRight .infoHolder {
  width: 50%;
}

.aboutContainer .aboutRight .dudeHolder {
  width: 50%;
  position: relative;
}

.aboutContainer .aboutRight .dudeHolder img {
  position: absolute;
  max-width: 100%;
  bottom: -8em;
}

.aboutContainer .arrowButton {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-weight: bold;
}

.aboutContainer .arrowButton .offerLink {
  text-decoration: none;
  padding: 0.7em 1em 0.7em 0;
}

footer {
  width: 100%;
  margin-top: 8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footerLeft {
  width: 25%;
  background-color: #1fbde4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footerLeft .footerBtnHolder {
  max-width: 19em;
  text-align: center;
}

footer .footerLeft .footerBtnHolder .filledButtonCyan {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  background-color: #67c7d8;
  cursor: pointer;
  margin: 0 0 0.5em 0;
  color: white;
}

footer .footerLeft .footerBtnHolder .filledButtonCyan .offerLink {
  text-decoration: none;
  width: 100%;
  padding: 0.7em 1em 0.7em 1em;
}

footer .footerLeft .footerBtnHolder .filledButtonBlack {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  background-color: #363636;
  cursor: pointer;
  margin: 0.5em 0 0 0;
  color: white;
}

footer .footerLeft .footerBtnHolder .filledButtonBlack img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

footer .footerLeft .footerBtnHolder .filledButtonBlack .offerLink {
  text-decoration: none;
  padding: 0.7em 1em 0.7em 1em;
  width: 70%;
}

footer .footerRight {
  width: 75%;
  background-color: #363636;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4em 0 4em 0;
}

footer .footerRight .footerRightDiv {
  width: 12em;
  margin: 0.5em 3.5% 0.5em 2%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

footer .footerRight .footerRightDiv .rightDivContent span {
  font-size: 1.5em;
}

footer .footerRight .footerRightDiv .rightDivContent p {
  margin-top: 0;
}

footer .footerRight .footerRightDiv .rightDivAddress {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footerRight .footerRightDiv .rightDivAddress img {
  height: 65%;
  padding-top: 6px;
  margin-right: 0.5em;
}

footer .footerRight .footerRightCert {
  margin: 0.5em 2% 0.5em 2%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

footer .footerRight .footerRightCert span {
  font-size: 1.5em;
}

footer .footerRight .footerRightCert img {
  margin-top: 1em;
}

footer .footerRight .footerRightContacts {
  margin: 0.5em 2% 0.5em 2%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

footer .footerRight .footerRightContacts .contactsIcon img {
  margin: 0 1em 0 0;
}

footer .footerRight .footerRightContacts .created img {
  margin: 0 0 0 0.5em;
}

footer .footerRight .footerRightButton {
  margin: 0.5em 2% 0.5em 3.5%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}
/*# sourceMappingURL=style.css.map */