//----------------------- HEADER -----------------

$test: solid black 1px;

@font-face {
    font-family: sans-book;
    src: url(../../src/OfficinaSansITCPro-Book.ttf);
    font-display: swap
}

html, body {
    margin: 0;
    font-family: sans-book;
}

.price {
    font-weight: bold;
    font-size: 1.8em;
}

.grayText {
    color: gray;
    font-size: 1.1em;
}

.borderLeft {
    position: absolute;
    background-color: rgb(207, 207, 207);
    height: 70%;
    width: 1px;
    left: 0;
    top: 20%;
}

.hollowButton {
    height: fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    border: 2px solid rgb(31, 189, 228);
    border-radius: 5px;
    cursor: pointer;
    margin-right: 2em;

    .offerLink {
        text-decoration: none;
        padding: 0.7em 1em 0.7em 1em;
    }
}

.filledButton {
    height: fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color: rgb(31, 189, 228);
    cursor: pointer;
    margin-right: 2em;
    color: white;

    img {
        filter: brightness(0) invert(1);
    }

    .offerLink {
        text-decoration: none;
        padding: 0.7em 1em 0.7em 1em;
    }
}

.aPicInfo {
    position: absolute;
    margin: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    top: 0;
    left: 0;

    .aPicInfoTop {
        padding: 0.3em;
        background-color: white;
        width: fit-content;
    }
    .aPicInfoBot {
        color: white;
        margin: 60% 0 0 6%;
        font-size: 0.9em;

        h1 {
            margin-top: 0.3em;
        }

        p {
            margin-bottom: 0;
        }
    }
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 1em;
    height: 4em;
    border: $test;
    z-index: 100;
    background-color: white;

    #headerContainer {
        height: 100%;
        max-width: 80em;
        margin: auto;

        #headerLogo {
            float: left;
            height: inherit;

            img {
                height: inherit;
            }
        }  

        #headerCont {
            display: flex;
            height: inherit;
            float: right;
            align-items: center;

            #headerNav {
                height: inherit;
                display: flex;
                align-items: center;
                width: fit-content;
            }

            #headerLang {
                width: fit-content;
            }
        }
    }
}

//------------------------- BANNER ----------------------

#bannerContainer {
    position: relative;
    max-width: 100%;
    margin: 4em 0 5em 0;
    display: flex;
    justify-content: center;

    img {
        max-width: 100%;
    }

    .content {
        position: absolute;
        display: flex;
        top: 0;
        width: 80em;
        margin-top: 8%;

        .bannerText {
            height: fit-content;
            width: 18em;
            color: white;

            h1 {
                font-size: 3em;
                margin-top: 0;
            }
        }

        .secondaryBannerCont {
            display: flex;
            justify-content: flex-end;
            width: 62em;

            .bannerSecondary {
                color: white;
                width: 10em;
                margin: 0 0 0 2.5em;
            }
        }

        
    }
}

//--------------------- PRODUCT LIST -------------------------

.productsContainer {
    width: 100%;
    margin-bottom: 5em;

    .prodChonkCont {
        max-width: 80em;
        height: auto;
        display: flex;
        flex-flow: row wrap;
        margin: auto;
        justify-content: space-between;

        .productChonk {
            width: 39em;
            margin: 0 0 2em 0;
            position: relative;

            .chonkInfo {
                display: flex;

                .infoRight {
                    width: 25%;
                    padding: 1em 1em 0 1em;
                    position: relative;
                }
            }

            .chonkImg {
                width: 100%;

                img {
                    width: 100%;
                }
            }
        }

        .productSmol {
            width: 25.3em;
            margin: 0 0 2em 0;
            position: relative;

            .chonkInfo {
                display: flex;

                .infoRight {
                    width: 14em;
                    padding: 1em 1em 0 1em;
                    position: relative;
                }
            }

            .smolImg {
                width: 100%;

                img {
                    width: 100%;
                }
            }
        }
    }
}

//------------------- GRAY SECTION --------------------

.graySection {
    width: 100%;
    margin: 0 0 5em 0;


    .grayBg {
        background-color: rgb(245, 245, 245);
        max-width: 96em;
        margin: auto;

        .grayCont {
            max-width: 80em;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            margin: auto;

            .grayLeft {
                max-width: 50%;
                display: flex;
                flex-flow: column;
                justify-content: center;

                .buttonHolder {
                    display: flex;
                    align-items: center;
                    margin: 1em 0 0 0;

                    .cameraButton {
                        display: flex;
                        align-items: center;

                        a {
                            text-decoration: none;
                            color: black;
                            font-weight: bold;
                            margin: 0 0 0 0.5em;
                        }
                    }
                }
            }

            .grayRight {
                max-width: 50%;

                .grayImg1 {
                    max-width:120%;
                    max-height:120%;
                    position: relative;
                    top: -4em;
                    left: 1em;
                }

                .grayImg2 {
                    max-width:120%;
                    max-height:120%;
                    position: relative;
                    top: 0;
                    left: 1em;
                }
            }
        }
    }
}

//------------------------- PROJECTS ----------------------

.achievedProjectsContainer {
    width: 100%;
    margin-bottom: 5em;

    .achievedCont {
        max-width: 80em;
        margin: auto;

        .lineLeftRight {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .lineRight {
                span {
                    font-weight: bold;
                    font-size: 1.1em;
                }
            }
        }

        .achievedPics {
            display: flex;
            width: 100%;
            flex-flow: row wrap;
            justify-content: space-between;

            .aPic {
                width: 18em;
                margin: 0 0 1em 0;
                position: relative;

                .aPicInfo {
                    position: absolute;
                    margin: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 100;
                    top: 0;
                    left: 0;

                    .aPicInfoTop {
                        padding: 0.3em;
                        background-color: white;
                        width: fit-content;
                    }
                    .aPicInfoBot {
                        color: white;
                        margin: 60% 0 0 6%;
                        font-size: 0.9em;

                        h1 {
                            margin-top: 0.3em;
                        }

                        p {
                            margin-bottom: 0;
                        }
                    }
                }

                img {
                    width: 100%;
                }
            }
        }
    }
}

.aboutContainer {
    width: 100%;

    .aboutContent {
        max-width: 80em;
        border-top: 2px solid black;
        margin: auto;
        padding-top: 6em;
        display: flex;
    }

    .aboutLeft {
        width: 40%;
        padding: 0 10% 0 0;

        h1 {
            margin: 0 0 1em 0;
            font-size: 2.2em;
        }
    }

    .aboutRight {
        width: 50%;
        display: flex;

        .infoHolder {
            width: 50%;
        }

        .dudeHolder {
            width: 50%;
            position: relative;

            img {
            position: absolute;
            max-width: 100%;
            bottom: -8em;
            }
        }
    }

    .arrowButton {
        height: fit-content;
        width: fit-content;
        display: flex;
        align-items: center;
        cursor: pointer;
        font-weight: bold;

        .offerLink {
            text-decoration: none;
            padding: 0.7em 1em 0.7em 0;
        }
    }
}

footer {
    width: 100%;
    margin-top: 8em;
    display: flex;

    .footerLeft {
        width: 25%;
        background-color: rgb(31, 189, 228);
        display: flex;
        justify-content: center;
        align-items: center;

        .footerBtnHolder {
            max-width: 19em;
            text-align: center;

            .filledButtonCyan {
                height: fit-content;
                width: 100%;
                display: flex;
                align-items: center;
                border-radius: 4px;
                background-color: rgb(103, 199, 216);
                cursor: pointer;
                margin: 0 0 0.5em 0;
                color: white;
        
                .offerLink {
                    text-decoration: none;
                    width: 100%;
                    padding: 0.7em 1em 0.7em 1em;
                }
            }

            .filledButtonBlack {
                    height: fit-content;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    border-radius: 4px;
                    background-color: rgb(54, 54, 54);
                    cursor: pointer;
                    margin: 0.5em 0 0 0;
                    color: white;
                    
            
                img {
                    filter: brightness(0) invert(1);
                }
            
                .offerLink {
                    text-decoration: none;
                    padding: 0.7em 1em 0.7em 1em;
                    width: 70%;
                }
            }
        }
    }

    .footerRight {
        width: 75%;
        background-color: rgb(54, 54, 54);
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        padding: 4em 0 4em 0;

        .footerRightDiv {
            width: 12em;
            margin: 0.5em 3.5% 0.5em 2%;
            height: fit-content;

            .rightDivContent {
                span {
                    font-size: 1.5em;
                }

                p {
                    margin-top: 0;
                }
            }

            .rightDivAddress {
                width: 100%;
                display: flex;

                img {
                    height: 65%;
                    padding-top: 6px;
                    margin-right: 0.5em;
                }
            }
        }

        .footerRightCert {
            margin: 0.5em 2% 0.5em 2%;
            height: fit-content;

            span {
                font-size: 1.5em;
            }
            img {
                margin-top: 1em;
            }
        }

        .footerRightContacts {
            margin: 0.5em 2% 0.5em 2%;
            height: fit-content;

            .contactsIcon {
                img {
                    margin: 0 1em 0 0;
                }
            }

            .created {
                img {
                    margin: 0 0 0 0.5em;
                }
            }
        }

        .footerRightButton {
            margin: 0.5em 2% 0.5em 3.5%;
            height: fit-content;
            transform: translateY(100%);
        }
    }
}




