//----------------------- HEADER -----------------

$test: solid black 1px;

@font-face {
    font-family: sans-book;
    src: url(../../src/OfficinaSansITCPro-Book.ttf);
    font-display: swap
}

html, body {
    margin: 0;
    font-family: sans-book;
}

.price {
    font-weight: bold;
    font-size: 1.8em;
}

.grayText {
    color: gray;
    font-size: 1.1em;
}

.borderLeft {
    position: absolute;
    background-color: rgb(207, 207, 207);
    height: 70%;
    width: 1px;
    left: 0;
    top: 20%;
}

.widthContHolder {
    max-width: 82em;
    margin: auto;

    .maxWidthCont {
        max-width: 80em;
        margin: 0 1em 0 1em;
        height: auto;
        display: flex;
        justify-self: left;
        justify-content: space-between;
    }
}

.hollowButton {
    height: fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    border: 2px solid rgb(31, 189, 228);
    border-radius: 5px;
    cursor: pointer;

    .offerLink {
        text-decoration: none;
        padding: 0.7em 1em 0.7em 1em;
    }

    &:hover {
        background-color: black;
        color: white;
        border: 2px solid black;
        img {
            filter: brightness(0) invert(1);
            z-index: 999;
        }
    }
}

.filledButton {
    height: fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color: rgb(31, 189, 228);
    cursor: pointer;
    color: white;

    img {
        filter: brightness(0) invert(1);
    }

    .offerLink {
        text-decoration: none;
        padding: 0.7em 1em 0.7em 1em;
    }

    &:hover {
        background-color: black;
        color: white;
    }
}

.aPicInfo {
    position: absolute;
    margin: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    top: 1em;
    left: 1em;

    .aPicInfoTop {
        padding: 0.3em;
        background-color: white;
        width: fit-content;
    }
    .aPicInfoBot {
        color: white;
        margin: 60% 0 0 6%;
        font-size: 0.9em;

        h1 {
            margin-top: 0.3em;
        }

        p {
            margin-bottom: 0;
        }
    }
}

//--------------------------- HEADER -------------------------------

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 6em;
    z-index: 9999;
    background-color: white;
    

    #headerContainer {
        height: 100%;
        max-width: 82em;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        #headerLogo {
            height: 70%;
            margin: 0 0 0 1em;

            img {
                height: 100%;
            }
        }  

        #headerCont {
            display: flex;
            height: inherit;
            align-items: center;
            justify-content: flex-end;
            margin: 0 1em 0 0;
            width: 100%;

            #headerNav {
                height: inherit;
                display: flex;
                width: 50%;
                justify-content: space-between;
                
                a {
                    margin: 0 3% 0 3%;
                    height: inherit;
                    display: flex;
                    align-items: center;
                    white-space: nowrap;
                    text-decoration: none;
                    color: black;
                    font-weight: bold;
                    font-size: 1.1em;
                    position: relative;
                }

                a:hover {
                    color: rgb(31, 189, 228);
                    &:before {
                        content:"";
                        position:absolute;
                        background-color:rgb(31, 189, 228);
                        width:100%;
                        height:2px;
                        left:0;
                        top:0;
                    }
                }
            }

            #headerLang {
                width: 4em;
                margin: 0 6% 0 6%;
                font-weight: bold;

                .selectHolder {
                    display: flex;
                    align-items: center;
                    padding: 0.5em;
                    margin-right: -0.5em;
                    border-radius: 3px;
                    text-align: right;

                    &:hover {
                        box-shadow: 0 2px 13px -2px rgb(41, 41, 41);
                        transition: 0.2s;
                        cursor: pointer;
                    }

                    .langListHolder {
                        position: relative;
                        width: 100%;

                        .langList {
                            position: absolute;
                            top: 130%;
                            right: 0;
                            width: 4em;
                            display: flex;
                            flex-direction: column;

                            .lang2 {
                                display: none;
                                background-color: white;
                                padding: 0.5em 0.5em 0.5em 0;
                                margin-right: -0.5em;
                                border-top: 1px solid rgb(228, 228, 228);
                                border-bottom: 1px solid rgb(228, 228, 228);
                                &:hover {
                                    color: rgb(31, 189, 228);
                                }
                            }

                            .lang3 {
                                display: none;
                                background-color: white;
                                padding: 0.5em 0.5em 0.5em 0;
                                margin-right: -0.5em;
                                border-bottom-left-radius: 3px;
                                border-bottom-right-radius: 3px;
                                &:hover {
                                    color: rgb(31, 189, 228);
                                }
                            }
                        }
                    }
                }

                img {
                    margin-right: 0.5em;
                }
            }
        }
    }
}

//------------------------- BANNER ----------------------

#bannerContainer {
    position: relative;
    max-width: 100%;
    margin: 6em 0 5em 0;
    display: flex;
    justify-content: center;

    img {
        max-width: 100%;
    }

    .content {
        position: absolute;
        display: flex;
        top: 0;
        max-width: 82em;
        width: 100%;
        margin-top: 8%;

        .bannerInnerHolder {
            display: flex;
            max-width: 80em;
            width: 100%;
            justify-content: space-between;

            .bannerText {
                height: fit-content;
                max-width: 18em;
                color: white;
                margin: 0 0 0 1em;

                h1 {
                    font-size: 3em;
                    margin-top: 0;
                }
            }

            .secondaryBannerCont {
                display: flex;
                justify-content: flex-end;
                max-width: 62em;
                margin: 0 1em 0 0;

                .bannerSecondary {
                    color: white;
                    width: 10em;
                    margin: 0 0 0 2.5em;
                }
            }

        }
    }
}

//--------------------- PRODUCT LIST -------------------------

.productsContainer {
    width: 100%;
    margin-bottom: 5em;

    .prodChonkCont {
        max-width: 82em;
        height: auto;
        display: flex;
        flex-direction: row;
        margin: auto;
        justify-content: space-between;

        .productChonk {
            max-width: 39em;
            margin: 0 0 2em 0;
            position: relative;
            padding: 1em;

            &:hover {
                box-shadow: 0 2px 13px -2px rgb(41, 41, 41);
                transition: 0.2s;
                cursor: pointer;
            }

            .chonkInfo {
                display: flex;

                .infoLeft {
                    margin: 0 0.5em 0 0;
                }

                .infoRight {
                    width: 12em;
                    padding: 1em 1em 0 1em;
                    position: relative;
                }
            }

            .chonkImg {
                width: 100%;

                img {
                    width: 100%;
                }
            }
        }

        .productSmol {
            max-width: 25.3em;
            margin: 0 0 2em 0;
            position: relative;
            padding: 1em;

            &:hover {
                box-shadow: 0 7px 13px -2px rgb(41, 41, 41);
                transition: 0.2s;
                cursor: pointer;
            }

            .chonkInfo {
                display: flex;

                .infoLeft {
                    margin: 0 0.5em 0 0;
                }

                .infoRight {
                    width: 14em;
                    padding: 1em 1em 0 1em;
                    position: relative;
                }
            }

            .smolImg {
                width: 100%;

                img {
                    width: 100%;
                }
            }
        }
    }
}

//------------------- GRAY SECTION --------------------

.graySection {
    width: 100%;
    margin: 0 0 5em 0;

    .grayBg {
        background-color: rgb(245, 245, 245);
        max-width: 96em;
        margin: auto;

        .grayCont {
            max-width: 82em;
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            margin: auto;

            .grayLeft {
                margin: 0 0 0 1em;
                max-width: 49%;
                display: flex;
                flex-flow: column;
                justify-content: center;

                .buttonHolder {
                    display: flex;
                    align-items: center;
                    margin: 1em 0 0 0;

                    .cameraButton {
                        display: flex;
                        align-items: center;
                        margin: 0 0 0 2em;

                        a {
                            text-decoration: none;
                            color: black;
                            font-weight: bold;
                            margin: 0 0 0 0.5em;

                            &:hover {
                                color: rgb(31, 189, 228);
                                cursor: pointer;
                            }
                        }
                    }
                }
            }

            .grayRight {
                max-width: 49%;
                margin: 0 1em 0 0;

                .grayImg1 {
                    max-width:120%;
                    max-height:120%;
                    position: relative;
                    top: -4em;
                    left: 1em;
                }

                .grayImg2 {
                    max-width:120%;
                    max-height:120%;
                    position: relative;
                    top: 0;
                    left: 1em;
                }
            }
        }
    }
}

//------------------------- PROJECTS ----------------------

.achievedProjectsContainer {
    width: 100%;
    margin-bottom: 5em;

    .achievedCont {
        max-width: 82em;
        margin: auto;

        .lineLeftRight {
            max-width: 80em;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 1em 0 1em;

            .lineRight {
                display: flex;
                align-items: center;
                span {
                    font-weight: bold;
                    font-size: 1.1em;
                }
            }
        }

        .achievedPics {
            display: flex;
            width: 100%;
            flex-flow: row wrap;
            justify-content: space-between;

            .aPic {
                width: 18em;
                margin: 0 0 1em 0;
                padding: 1em;
                position: relative;

                img {
                    height: 100%;
                }

                &:hover {
                    box-shadow: 0 2px 13px -2px rgb(41, 41, 41);
                    transition: 0.2s;
                    cursor: pointer;
                }

                .aPicInfo {
                    position: absolute;
                    margin: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 100;
                    top: 1em;
                    left: 1em;

                    .aPicInfoTop {
                        padding: 0.3em;
                        background-color: white;
                        width: fit-content;
                    }
                    .aPicInfoBot {
                        color: white;
                        margin: 55% 0 0 6%;
                        font-size: 0.9em;

                        h1 {
                            margin-top: 0.3em;
                        }

                        p {
                            margin-bottom: 0;
                        }
                    }
                }

                img {
                    width: 100%;
                }
            }
        }
    }
}

//------------------------------------ ABOUT -------------------------------------------

.aboutContainer {
    width: 100%;

    .aboutBorder {
        width: 80em;
        margin: auto;
        height: 2px;
        background-color: black;
    }
    .aboutContent {
        max-width: 82em;
        margin: auto;
        padding-top: 6em;
        display: flex;
    }

    .aboutLeft {
        width: 40%;
        margin: 0 0 0 1em;
        padding: 0 10% 0 0;

        h1 {
            margin: 0 0 1em 0;
            font-size: 2.2em;
        }
    }

    .aboutRight {
        margin: 0 1em 0 0;
        width: 50%;
        display: flex;

        .infoHolder {
            width: 50%;
        }

        .dudeHolder {
            width: 50%;
            position: relative;

            img {
            position: absolute;
            max-width: 100%;
            bottom: -8em;
            }
        }
    }

    .arrowButton {
        height: fit-content;
        width: fit-content;
        display: flex;
        align-items: center;
        cursor: pointer;
        font-weight: bold;

        &:hover {
            color: rgb(31, 189, 228);
        }

        .offerLink {
            text-decoration: none;
            padding: 0.7em 1em 0.7em 0;
        }
    }
}

//----------------------------------- FOOTER -------------------------------------------------

footer {
    width: 100%;
    margin-top: 8em;
    display: flex;

    .footerLeft {
        width: 25%;
        background-color: rgb(31, 189, 228);
        display: flex;
        justify-content: center;
        align-items: center;

        .footerBtnHolder {
            max-width: 19em;
            text-align: center;

            .filledButtonCyan {
                height: fit-content;
                width: 100%;
                display: flex;
                align-items: center;
                border-radius: 4px;
                background-color: rgb(103, 199, 216);
                cursor: pointer;
                margin: 0 0 0.5em 0;
                color: white;
        
                .offerLink {
                    text-decoration: none;
                    width: 100%;
                    padding: 0.7em 1em 0.7em 1em;
                }
            }

            .filledButtonBlack {
                    height: fit-content;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    border-radius: 4px;
                    background-color: rgb(54, 54, 54);
                    cursor: pointer;
                    margin: 0.5em 0 0 0;
                    color: white;
            
                img {
                    filter: brightness(0) invert(1);
                }
            
                .offerLink {
                    text-decoration: none;
                    padding: 0.7em 1em 0.7em 1em;
                    width: 70%;
                }

                &:hover {
                    color: rgb(31, 189, 228);
                    img {
                        filter: none;
                    }
                }
            }
        }
    }

    .footerRight {
        width: 75%;
        background-color: rgb(54, 54, 54);
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        padding: 4em 0 4em 0;

        .footerRightDiv {
            width: 12em;
            margin: 0.5em 3.5% 0.5em 2%;
            height: fit-content;

            .rightDivContent {
                span {
                    font-size: 1.5em;
                }

                a {
                    text-decoration: none;
                }

                p {
                    margin-top: 0;
                    color: gray;

                    &:hover {
                        color: white;
                        cursor: pointer;
                    }
                }
            }

            .rightDivAddress {
                width: 100%;
                display: flex;

                img {
                    height: 65%;
                    padding-top: 6px;
                    margin-right: 0.5em;
                }
            }
        }

        .footerRightCert {
            margin: 0.5em 2% 0.5em 2%;
            height: fit-content;

            span {
                font-size: 1.5em;
            }
            img {
                margin: 1em 0.5em 0 0;
            }
        }

        .footerRightContacts {
            margin: 0.5em 2% 0.5em 2%;
            height: fit-content;

            .contactsIcon {
                img {
                    margin: 0 1em 0 0;
                    &:hover {
                        filter: brightness(0) invert(1);
                    }
                }
            }

            .created {
                img {
                    margin: 0 0 0 0.5em;
                    &:hover {
                        filter: brightness(0) invert(1);
                    }
                }
            }
        }

        .footerRightButton {
            margin: 0.5em 2% 0.5em 3.5%;
            height: fit-content;
            transform: translateY(100%);

            .askUs {
                height: fit-content;
                width: fit-content;
                display: flex;
                align-items: center;
                border-radius: 5px;
                background-color: rgb(31, 189, 228);
                cursor: pointer;
                color: white;

                img {
                    filter: brightness(0) invert(1);
                }

                .offerLink {
                    text-decoration: none;
                    padding: 0.7em 1em 0.7em 1em;
                }

                &:hover {
                    color: black;

                    img {
                        filter: brightness(0);
                    }
                }
            }
        }
    }
}

@media (max-width: 1280px) {
    .achievedProjectsContainer {
        .achievedCont {
            .lineLeftRight {
                flex-direction: column;
                align-items: center;
                margin: 0 0 2em 0;
    
                .lineRight {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;

                    .rodomi {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                    }
                }
            }

            .achievedPics {
                justify-content: space-evenly;
            }
        }
    }
}

@media (max-width: 1160px) {
    .widthContHolder {
        .maxWidthCont {
            justify-content: center;
        }
    }

    .productsContainer {
        .prodChonkCont {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .productChonk {
                max-width: 50em;
            }
        }
    }
    
}

@media (max-width: 875px) {
    .graySection {
        .grayBg {
            .grayCont {
                .grayRight {
                    display: none;
                }

                .grayLeft {
                    max-width: 100%;
                    margin: 0 1em 2em 1em;

                    h1 {
                        text-align: center;
                    }

                    .buttonHolder {
                        justify-content: center;
                    }
                }
            }
        }
    }

    .productsContainer {
        .prodChonkCont {
            .productSmol {
                max-width: 35em;
            }
        }
    }
}


